
@{
    ViewBag.Title = "TipoVenta";
}

<h2>Seleccione una opción</h2>
<br />
@Html.ActionLink("Generar Venta", "Create", "VentaExterna")
<br />
@Html.ActionLink("Listado de ventas generadas", "Index", "VentaExterna")
<br />
<br />
@Html.ActionLink("Volver", "Index", "Home")
