
@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>
<p>Bienvenido a la feria virtual</p>

@Html.ActionLink("Lista de usuarios internos", "Index", "UsuarioInt")
<br />
@Html.ActionLink("Crear Usuario Interno", "Create", "UsuarioInt")