
@{
    ViewBag.Title = "ListaCrearUsuarios";
}

<h2>Seleccione el tipo de usuario a crear</h2>
<br />
@Html.ActionLink("Cliente", "CreateUsuExt", "UsuarioExt")
<br />
@Html.ActionLink("Productor", "CreateProduct", "Productor")
<br />
@Html.ActionLink("Transportista", "CreateTransportista", "Transportista")
<br />
<br />
@Html.ActionLink("Volver", "Index", "Home")


