
@{
    ViewBag.Title = "ListaUsuarios";
}

<h2>Seleccione el tipo de usuario que desea visualizar</h2>

@Html.ActionLink("Lista de usuarios Cliente", "ListaUsuExt", "UsuarioExt")
<br />
@Html.ActionLink("Lista de usuarios Productor", "ListaProduct", "Productor")
<br />
@Html.ActionLink("Lista de usuarios Transportista", "ListaTransportista", "Transportista")
<br />
<br />
@Html.ActionLink("Volver", "Index", "Home")

