
@{
    ViewBag.Title = "ListaCrearUsuarios";
}

<h2>Seleccione el tipo de usuario a crear</h2>
<br />
@Html.ActionLink("Cliente Interno", "CreateUsuInt", "UsuarioInt")
<br />
@Html.ActionLink("Cliente Externo", "CreateUsuExt", "UsuarioExt")
<br />
@Html.ActionLink("Productor", "CreateProduct", "Productor")
<br />
@Html.ActionLink("Transportista", "CreateTransportista", "Transportista")
<br />
<p>Consultor</p>

