
@{
    ViewBag.Title = "TipoUsuario";
}



<h1>Bienvenido a la <span>Feria Virtual</span> de Maipo Grande</h1>
    <h2>
         La empresa “Maipo Grande”, agrupa empresas dedicadas a la producción de frutas en
         la zona metropolitana sur. La misión de la empresa es facilitar la comercialización de
         los productos de sus diferentes clientes en el mercado extranjero y local.
    </h2>

<br />

