
@{
    ViewBag.Title = "TipoUsuario";
}

<h2>Bienvenido a la Feria Virtual de Maipo Grande</h2>

<body>
    La empresa “Maipo Grande”, agrupa empresas dedicadas a la producción de frutas en
    la zona metropolitana sur. La misión de la empresa es facilitar la comercialización de
    los productos de sus diferentes clientes en el mercado extranjero y local.
</body>
<br />
@*<br />
        // Html.ActionLink("Cliente Interno", "LoginInt", "IntAuth")
    <br />
       // Html.ActionLink("Administrador", "LoginAdmin", "AdmAuth")*@
